<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.PoetryDAO">

    <resultMap id="ts" type="Poetry">
        <id property="id" column="p1_id"></id>
        <result property="title" column="p1_title"></result>
        <result property="content" column="p1_content"></result>
        <association property="poets" javaType="Poet">
            <id property="id" column="p2_id"></id>
            <result property="name" column="p2_name"></result>
        </association>
    </resultMap>

    <select id="queryAll" resultMap="ts">
        SELECT
            p1.id p1_id,
            p1.title p1_title,
            p1.content p1_content,
            p2.id p2_id,
            p2. NAME p2_name
        FROM
            poetry p1
        LEFT JOIN poet p2 ON p1.poet_id = p2.id
    </select>

</mapper>